body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: none; /* invisible table */
    padding: 8px;
}

.center {
    text-align: center;
}

img {
    width: 100px;
    border-radius: 50%;
}

.login {
    font-weight: bold;
    font-size: 18px;
}

.desc {
    color: gray;
    font-size: 14px;
}

.icon {
    width: 30px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
