html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

#d1 {   
    background-color: blue;
}

#d2 {
    background-color: red;
}